*{
  margin: 0;
  padding: 0;
}
.background-image{
  background-image: url("../photos/background-1481803_1920.jpg");
  background-image: linear-gradient(180deg, #191919 5%, rgba(255, 255, 255, 0), #191919 95%), url("../photos/background-1481803_1920.jpg");
  background-size: 1440px;
  background-repeat: no-repeat;
  background-position: center ;
}

body{
  max-width: 1440px;
  margin: 0 auto;
}

.main--tittle{
  margin-top: 50px;
  text-align: center;
  font-weight: 800;
  font-size: 72px;
  line-height: .85;
  color: #F2D07C;
}

#numberColor{
  color: white;
}
.main--info{
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding-top: 100px;
}
.slogan{
  padding: 0px 40px 60px 0px;
  width: 400px;
  margin-top: 50px;
  text-align: center;
}

.creditEval{
  padding: 40px 40px;
  width: 400px;
  background-color:rgba(0, 0, 0, .6);
  border-radius: 20px;
  font-size: 1.25rem;
  
}
.creditEval button{
  width: 100%;
}