:root {
  font-family: Lato, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #191919;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{
  display: block;
  background-color: #191919;
}

.navbar--container{
  display: flex;
  height: 56px;
  justify-content: space-around;
  max-width: 1440px;
  margin: 0 auto;
  position: relative; 
  background-color: #191919;
}

body{
  margin:0 auto;
}

.btnSmall--style{
 background-color: #F2D07C;
 border-radius : 5px;
 color: black;
 height: 35px;
 width: 77px;
 margin: 12px 10px;
 font-weight: bolder;
}

.nav--logo{
  width: 51px;
  height: 38px;
  padding: 12px;
  margin: 0 ;
}

.nav--pages{
  font-size: 1.25rem;
}




