:root {
  font-family: Lato, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #191919;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{
  display: block;
  background-color: #191919;
  margin:0 auto;
}
/* Nav bar */
.navbar--container{
  display: flex;
  height: 56px;
  justify-content: space-around;
  max-width: 1440px;
  margin: 0 auto;
  position: relative; 
  background-color: #191919;
  padding: 0px 155px;
}
 
.btnSmall--style{
 background-color: #F2D07C;
 border-radius : 5px;
 color: black;
 height: 35px;
 width: 77px;
 margin: 12px 10px;
 font-weight: bolder;
}
.slogan{
  max-width: 1440px;
  margin: 0 auto;
  
}

.nav--logo{
  width: 51px;
  height: 38px;
  padding: 12px;
  margin: 0 ;
}

.nav--pages{
  font-size: 1rem;
  
}
/* main */

.main{
  max-width: 1440px;
  margin: 0 auto;

}
.main--container{
  display: flex;
  justify-content: space-evenly;
  width: 1440px;
  padding: 40px;
  padding-top: 100px;
  flex-wrap: wrap;
  
  height: 600px;
  justify-content: space-evenly;
}
.main--buttonContainer{
  padding: 15px 44px;
  
}
.main--bigButton{
background-color: #F2D07C;
 border-radius : 10px;
 color: black;
 height: 69px;
 width: 189px;
 margin: 12px 10px;
 font-weight: bolder;
 font-size: 1.3rem;
}

.main--creditAnimation{
  width: 480px;
  height: 400px;
  padding: 0px 20px;
  padding-left: 40px;
  
  margin: 0; 
}
.main--infoButtonContainer{
  
  margin: 0;
  height: 400px;
}
